# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Project specific - Debug Images
debug_grid.png
debug_grid_only.png

# Project specific - Configuration
# It's usually better to ignore the actual config and provide a template
config.json

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
*.spec
